<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TRP Service</title>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "TRP",
            "url": "https://travel-route-planner.bss.design/"
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script>
        function updateCity(option) {
            $("#current-city").val(option);
            if($("#submit-city").hasClass("disabled")) {
                $("#submit-city").removeClass("disabled");
            }
            $.ajax({
                type: "POST",
                url: "/get-city-desc",
                data: { city: option },
                success: function(response) {
                    $("#city-description-insertion").text("Description : "+response);
                }
            });
        }
        function submitCity() {
            selected_city = $("#current-city").val();
            $('.nav-tabs a[href="#trip-location"]').tab('show');
            $.ajax({
                type: "POST",
                url: "/get-city-locations",
                data: { city: selected_city },
                success: function(response) {
                    $('#content-insertion-row').html(response);
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            var i_map = L.map('initial-map').setView([51.505, -0.09], 13);
            var f_map = L.map('final-map').setView([51.505, -0.09], 13);
            setTimeout(() => {
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(i_map);
            }, 500)
        });
    </script>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/Montserrat.css">
    <link rel="stylesheet" href="static/css/baguetteBox.min.css">
    <link rel="stylesheet" href="static/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-body clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">TRP</a><button data-bs-toggle="collapse"
                class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" href="trp-service">trp sERVICE</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact-us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">TRP Service</h2>
                    <p>Select the relevant locations and get the best route to make a travel plan on.</p>
                </div>
                <div class="block-content">
                    <div class="product-info">
                        <div>
                            <ul class="nav nav-tabs" role="tablist" id="trp-tabs">
                                <li class="nav-item" role="presentation"><a class="nav-link active" role="tab"
                                        data-bs-toggle="tab" id="city-selection-tab" href="#city-selection">City
                                        Selection</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                        data-bs-toggle="tab" id="trip-location-tab" href="#trip-location">Trip
                                        Locations</a></li>
                                <li class="nav-item" role="presentation"><a class="nav-link" role="tab"
                                        data-bs-toggle="tab" id="progress-tab" href="#progress">Process</a></li>
                            </ul>
                            <div class="tab-content" id="trp-tab-content">
                                <div class="tab-pane fade show active description" role="tabpanel" id="city-selection">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <figure class="figure"><img class="img-fluid figure-img"
                                                    alt="city buildings during sunset"
                                                    src="static/img/photo-1512531123205-560f5974e686.jpg"></figure>
                                        </div>
                                        <div class="col-md-7">
                                            <h4 class="mt-4">SELECT A CITY</h4>
                                            <p class="mb-3">&nbsp;After selection move on to the next tab.</p>
                                            <div class="input-group"><span class="input-group-text">Selected
                                                    :</span><input class="form-control" type="text" id="current-city"
                                                    disabled="" readonly="">
                                                <div class="dropdown"><button
                                                        class="btn btn-outline-primary dropdown-toggle rounded-0 rounded-end"
                                                        aria-expanded="false" data-bs-toggle="dropdown"
                                                        type="button">Cities</button>
                                                    <div class="dropdown-menu">
                                                        {% for city in cities %}
                                                            <a class="dropdown-item" onclick="updateCity('{{city}}')">{{ city }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <p id="city-description-insertion" class="text-info mt-3">Description : No Option Selected</p>
                                            <div class="d-flex justify-content-end"><a id="submit-city" class="btn btn-success disabled"
                                                    role="button" onclick="submitCity()">Confirm</a></div>
                                        </div>
                                    </div>
                                    <p>*Currently there are a limited number of cities available since we are gathering
                                        data. You need to select one of the city you want to travel and you will be a
                                        number of attractions you want to select from.</p>
                                </div>
                                <div class="tab-pane fade specifications" role="tabpanel" id="trip-location">
                                    <div class="container px-5">
                                        <p><strong>*Click on Confirm at the bottom of the page to move on to the process
                                                tab.</strong></p>
                                        <div class="container">
                                            <form class="form-control" method="post">
                                                <div class="products">
                                                    <div class="row g-0" id="content-insertion-row">
                                                        <div class="container p-5">
                                                            <center><p>Please Select a City First.</p></center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="progress">
                                    <div class="reviews"></div>
                                    <div class="reviews">
                                        <div class="review-item"><span class="text-muted">Last Updated&nbsp;
                                                :&nbsp;</span><span class="text-muted">12 May 2025</span>
                                            <div>
                                                <p>The&nbsp; map with dropped pins on selected locations :-</p>
                                                <div id="initial-map" class="container" style="height: 500px; width: 800px;"></div>
                                            </div>
                                            <div>
                                                <p>Resulting Map Route :-</p>
                                                <div id="final-map"class="container" style="height: 500px; width: 800px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="footer-copyright">
            <p>© 2025 Copyright TRP</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/baguetteBox.min.js"></script>
    <script src="static/js/vanilla-zoom.js"></script>
    <script src="static/js/theme.js"></script>
</body>

</html>